.title{
    text-align: center;
}
.countries{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 10px;
}

.country{
    background-color: rgb(183, 216, 251);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.country img {
    width: 200px;
}
